{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.nameCat }}</h1>
    <p><strong>Description :</strong> {{ category.descriptionCat }}</p>

    <a href="{{ path('app_categories') }}">Retour à la liste</a>
{% endblock %}